{% extends "base.html" %}
{% block content %}
<div class="w-1/2 mx-auto my-10">
    <div>
        {% if message %}
            {% for message in message %}
                <div class=f"p-2 {% if message.tags == 'success' %}bg-green-600{% endif %}">{{message}}</div>
            {% endfor %}
        {% endif %}
    </div>
    <form method="POST" enctype='multipart/form-data'>
        
        {% csrf_token %}
        {{ task_form }}
        {{ task_details_form }}
        <button type="submit" class="py-2 px-5 rounded-xl bg-blue-600 text-white">Submit</button>
    </form>
</div>
{% endblock content %}