{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Tuhin Al rakib</h1>
    {% with count=0 %}
        {% for name in names %}
            {% if not name == 'Rakib' %}
                <h1> {{name}} </h1>
            {% endif %}
            {{ count|add:1 }}
        {% endfor %}
        {{count}}
    {% endwith %}
</body>
</html>
