{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-50 p-6">
    <header class="flex justify-between items-center w-[90%] mx-auto">
      <h1 class="text-2xl font-semibold mb-8">Dashboard</h1>
      <div class="flex items-center gap-2">
        <button
          class="p-2 font-semibold rounded-full relative hover:bg-gray-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5"
            />
          </svg>
        </button>
        <button
          class="rounded-full w-10 h-10 text-white font-semibold bg-indigo-800"
        >
          B
        </button>
      </div>
    </header>
    <main>
      <!-- Task Card -->
      <div class="w-[90%] mx-auto grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
        <!-- Total Task -->
        <div class="bg-white rounded-xl shadow-md p-6">
          <h3 class="text-gray-500 text-sm font-medium mb-4 uppercase">
            Total Task
          </h3>
          <div class="flex justify-between items-start">
            <div>
              <p class="text-3xl font-semibold mb-1"> {{ counts.total }} </p>
              <p class="text-gray-500 text-sm">111 Last Month</p>
            </div>
            <div class="bg-blue-100 p-3 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 text-blue-600 ro"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
                />
              </svg>
            </div>
          </div>
        </div>
        <!-- Completed Task -->
        <div class="bg-white rounded-xl shadow-md p-6">
          <h3 class="text-gray-500 text-sm font-medium mb-4 uppercase">
            Completed Task
          </h3>
          <div class="flex justify-between items-start">
            <div>
              <p class="text-3xl font-semibold mb-1"> {{counts.completed}} </p>
              <p class="text-gray-500 text-sm">111 Last Month</p>
            </div>
            <div class="bg-green-100 p-3 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 text-green-600"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
          </div>
        </div>
        <!-- Task in Prgress -->
        <div class="bg-white rounded-xl shadow-md p-6">
          <h3 class="text-gray-500 text-sm font-medium mb-4 uppercase">
            Task in Progress
          </h3>
          <div class="flex justify-between items-start">
            <div>
              <p class="text-3xl font-semibold mb-1">{{ counts.in_progress }}</p>
              <p class="text-gray-500 text-sm">111 Last Month</p>
            </div>
            <div class="bg-yellow-100 p-3 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-6 h-6 text-yellow-600"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
          </div>
        </div>
        <!-- TODOS -->
        <div class="bg-white rounded-xl shadow-md p-6">
          <h3 class="text-gray-500 text-sm font-medium mb-4">Todos</h3>
          <div class="flex justify-between items-start">
            <div>
              <p class="text-3xl font-semibold mb-1">{{ counts.pending }}</p>
              <p class="text-gray-500 text-sm">111 Last Month</p>
            </div>
            <div class="bg-purple-100 p-3 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 text-purple-600 ro"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      {% block task %}
        
      {% endblock task %}
           
    </main>

    <footer>
      {% include "footer.html" %}
    </footer>
  </body>
</html>
